---
- name: Add Trivy GPG key
  apt_key:
    url: https://aquasecurity.github.io/trivy-repo/deb/public.key
    state: present

- name: Add Trivy repository
  apt_repository:
    repo: deb https://aquasecurity.github.io/trivy-repo/deb generic main
    state: present

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Trivy
  apt:
    name: trivy
    state: present
